.square-button {
  aspect-ratio: 1 / 1;       /* Botón cuadrado */
  height: 600;             /* Tamaño grande */
  font-size: 2rem;         /* Tamaño del texto */
  border-radius: 1rem;       /* Bordes redondeados suaves */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.icon-large {
  font-size: 15rem;           /* Ícono bien grande */
}