body,
html {
  font-family: 'Montserrat', sans-serif !important;
}

body {
  background-color: #6c757d;
}

:root {
  --bs-font-sans-serif: 'Montserrat', sans-serif;
}



.btn-azul-oscuro {
  background-color: #242c4f;
  color: white;
  border: none;
  transition: background-color 0.3s ease;
}

.btn-azul-oscuro:hover {
  background-color: #293f7c;
  color: white;
}

.btn-register {
  background-color: #488c00;
  color: white;
  border: none;
  transition: background-color 0.3s ease;
}

.btn-register:hover {
  background-color: #488c00ba;
  color: white;
}

.btn-edit {
  background-color: transparent;
  border: 1px solid #2b2a2a;
  color: white;
  transition: background-color 0.3s ease;
}

.btn-edit:hover {
  background-color: #494848;
  color: white;
}

.btn-view {
  background-color: transparent;
  border: 1px solid #0093d0;
  color: white;
  transition: background-color 0.3s ease;
}

.btn-view:hover {
  background-color: #0093d0;
  color: white;
}

.btn-delete {
  background-color: transparent;
  border: 1px solid #6e0000;
  color: white;
  transition: background-color 0.3s ease;
}

.btn-delete:hover {
  background-color: #6e0000;
  color: white;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.transparent-table,
.transparent-table th,
.transparent-table td,
.transparent-table thead,
.transparent-table tbody,
.transparent-table tr {
  background-color: transparent !important;
  color: white !important;
}

.transparent-list {
  background-color: transparent !important;
  color: white !important;
}

.page-link-outline {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  margin: 0 0.2rem;
}

.page-link-outline:hover {
  background-color: white;
  color: black;
}

.page-link-outline.active {
  background-color: white !important;
  color: black !important;
  font-weight: bold;
  border: 1px solid white !important;
}

.custom-card {
  background-color: transparent !important;
  border: 1px solid rgba(255, 255, 255, 0.2);
  /* opcional: borde suave */
  color: white;
}

.custom-card-header-search {
  background-color: #242c4f !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.custom-card-header-view {
  background-color: #0093d0 !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.custom-card-header-register {
  background-color: #242c4f !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  color: white;
}

.tiptap-editor * {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
  margin: 0;
  padding: 0;
}

.tiptap-editor:focus {
  outline: none !important;
  box-shadow: none !important;
}

.tiptap-editor p {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  margin: 0;
  padding: 0;
}

.tiptap-editor {
  white-space: pre-wrap;
}